{% extends 'search/_header.html' %}
{% from 'macros.html' import user_card %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h1 style="font-family: 'Segoe UI'">Search:&nbsp;{{search}}</h1><!--把Joyce改成{# {{ s }}#}，s是用户刚刚在搜索框输入的内容-->
    </div>
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" style="font-family: 'Segoe UI'">
                    <a href="{{url_for('main.search2',search=search,category='share')}}">Share</a>
                </li>
                <li role="presentation" style="font-family: 'Segoe UI'">
                    <a href="{{url_for('main.search2',search=search,category='question')}}">Question</a>
                </li>
                <li role="presentation" class="active" style="font-family: 'Segoe UI'">
                    <a href="{{url_for('main.search2',search=search,category='user')}}">User</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            {% if results %}
                {% for item in results %}
                    <div class="col-md-3">
                        {{ user_card(item,avatars) }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}