<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>SchoolLife</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>

<body>
{% from 'macros.html' import follow_area %}
<nav class="navbar navbar-default" role="navigation" style="height: 70px">
    <div class="container">
        <div class="navbar-header" style="margin-top: 6px">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">
                <img src="{{ url_for('static', filename='favicon.ico') }}" alt="SchoolLife">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1" style="margin-top: 10px;font-family: 'Segoe UI';">
            <ul class="nav navbar-nav" style="font-size: 20px">
                <li><a href="{{url_for('main.index')}}">Home</a></li>
                <li><a href="{{url_for('main.explore')}}">Explore</a></li>
                <li><a href="{{url_for('main.pub_share')}}">Share</a></li>
                <li><a href="{{url_for('main.pub_question')}}">Q&A</a></li>
            </ul>
            <form class="navbar-form navbar-left" style="margin-top: 7px">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Share,questions or user">
                </div>
                <button type="submit" class="btn btn-default" style="margin-top: 0px">Search</button>
            </form>
            <p class="navbar-text" style="font-size: 18px;margin-top: 8px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{current_user.username}}</p><!--user.name-->
            <a href="#" style="margin-top: 12px"><img src="{{ avatars.default() }}" style="width: 35px"> </a>
            <!--href为进入home,即user.index页面；src为get_avatar(user=current_user)-->
        </div>
    </div>
</nav>
<div class="row">
    <div class="col-md-3">
        <img class="img-rounded" src="{{ avatars.default() }}" style="width: 230px;height: 230px;margin-left: 80px">
    </div>
    <div class="col-md-7" style="margin-left: 30px">
        <h1>{{current_user.username}}</h1>
        <p style="font-family: 'Segoe UI'"><span class="glyphicon glyphicon-education"></span>&nbsp;&nbsp;{{current_user.school}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;{{current_user.regtime}} </p>
        <!-- user.school   moment(user.member_since).format('LL') -->
        <br><br><br><br>
        <div class="col-md-offset-11">
            {{ follow_area(user,current_user) }}
            {% if current_user.is_authenticated and user == current_user %}
            <a href="{{url_for('main.edit_profile')}}">
                <button type="button" class="btn btn-primary btn-sm">Edit profile</button>
            </a>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>