{% extends 'search/_header.html' %}
{% block content %}
<div class="container" style="background-color: #eeeeee;text-align: center">
    <div class="page-header" style="margin: 30px auto;text-align: center;background-color: #eeeeee;width: 800px;top: 100px;height: auto">
        <h1>Publish Question</h1>
    </div>
    <form method='post'>
    {{ question_form.csrf_token() }}
    <textarea class="form-control" style="font-size:x-large;background-color: white;border-style: none;width: 800px;height: auto;margin: 10px auto"
              id="label" name="label" rows="2" placeholder="请输入问题标题"></textarea>
    <textarea class="form-control" style="background-color: white;border-style: none;width: 800px;height: auto;margin: 10px auto"
              id="content" name="content"  rows="10" placeholder="请输入问题描述"></textarea>
        <div style="margin: auto;width: 800px;height: auto;text-align: right">
        <a href="{{url_for('main.pub_question')}}">
            <span><button id="submit" name="submit" type="submit" class="btn btn-primary" style="margin: 10px auto">Submit</button></span>
        </a>

        <a href="{{url_for('main.index')}}">
            <span><button class="btn btn-primary" style="margin: 10px 20px">Back</button></span>
        </a>
        </div>
    </form>
</div>
{% endblock %}
