<!DOCTYPE html>
{% extends "explore/base.html" %}
{% block body_part %}

<style type="text/css">
#answerfield{
    padding:10px;
    border-style: none
}
</style>

<script type="text/javascript">
//===================点击展开关闭效果=========================
function openShutManager(oSourceObj,oTargetObj,shutAble,oOpenTip,oShutTip){
var sourceObj = typeof oSourceObj == "string" ? document.getElementById(oSourceObj) : oSourceObj;
var targetObj = typeof oTargetObj == "string" ? document.getElementById(oTargetObj) : oTargetObj;
var openTip = oOpenTip || "";
var shutTip = oShutTip || "";
if(targetObj.style.display!="none"){
   if(shutAble) return;
   targetObj.style.display="none";
   if(openTip  &&  shutTip){
    sourceObj.innerHTML = shutTip;
   }
}
else {
   targetObj.style.display="block";
   if(openTip  &&  shutTip){
    sourceObj.innerHTML = openTip;
   }
}
}
</script>

    <div class="container" style="background-color: #eeeeee">
        <div style="background-color: white;width: 900px;height: auto;margin: auto;text-align: center">
        <div class="page-header">
        <h1>{{ question.label }}</h1><br>
        <p>
            {{ question.content }}
        </p><br>
        <small>Public Time:{{question.pubtime.strftime("%Y-%m-%d %H:%M:%S")}}</small>
        <small style="margin-left: 10px">View:3 times</small>
        <small style="margin-left: 10px">Shared:3 times</small>
        <br>
        </div>
        <small>{{ question.answers|length }}</small>
        <button type="button" class="btn btn-primary" style="margin-left: 20px;margin-bottom: 10px">关注</button>
        <button class="btn btn-primary" style="margin-left: 20px;margin-bottom: 10px" onclick="openShutManager(this,'answerfield')">写回答</button>
            <form method="post" action="{{url_for('main.pub_answer',qid=question.qid)}}">
                <p id="answerfield" style="display:none;">
                <textarea class="form-control" id="content" name="content" rows="5" style="min-width: 90%" placeholder="your answer"></textarea>
                <button type="submit" class="btn btn-primary" style="margin-top: 10px">OK</button>
                </p>
            </form>
        </div>

        {% for answer in question.answers %}
        <div style="margin: 10px auto;background-color: white;width: 900px;height: auto">
            <div class="media" style="font-size: small ">
                <div class="media-left">
                    <a href="#"><!--查看答主主页-->
                        <img src="{{ avatars.robohash(answer.writer.id) }}" class="media-object" style="width:50px">
                    </a>
                </div>
                <div class="media-body">
                    <a href="{{url_for('main.user',username = answer.writer.username)}}"><h4 class="media-heading">{{answer.writer.username}}</h4></a>
                        <p>{{ answer.writer.selfinfo }}</p>
                </div>
            </div>
            <div style="margin-top:10px;width: 900px;height: auto">
                <p>{{ answer.content }}</p><!--回答内容-->
            </div>
            <div style="margin-bottom: 5px;width: 900px;height: auto;text-align: right">
                <span><h5>点赞数：{{ answer.like }}</h5></span>
                <span><a href="{{url_for('main.like_answer',aid=answer.aid)}}">
                    <button type="button" class="glyphicon glyphicon-thumbs-up btn btn-default" style="margin-bottom: 10px"> 点赞</button>
                </a></span>
                <span><a href="#">
                    <button type="button" class="btn btn-default" style="margin-left: 15px;margin-right: 10px;margin-bottom: 10px">分享</button></a></span>
            </div>
            <hr>
        </div>
        {% endfor %}
    </div>
{% endblock %}
</html>