{% extends 'auth/base.html' %}
{% block body_part %}
    <div class="well well-lg" style="height: 500px; margin-top: 20px;margin-left: 70px;margin-right: 60px;">
        <div class="row" style="margin-top: 35px">
            <div class="col-xs-7" style="margin-left: 35px">
                <img src="{{ url_for('static', filename='images/4.jpg') }}" class="img-rounded">
            </div>
            <div class="col-xs-4">
                <div class="form-header"><p style="font-family: 'Segoe UI';word-spacing: 10px;font-size: 32px"><strong>Welcome to
                    SchoolLife!</strong></p></div>
                <form method='post'>
                    {{ form.csrf_token() }}
                    <p style="font-family: 'Segoe UI';font-size: 20px">{{ form.name.label }}</p>
                    <p style="font-family: 'Segoe UI'">{{ form.name() }}</p><br>
                    <p style="font-family: 'Segoe UI';font-size: 20px">{{ form.password.label }}</p>
                    <p style="font-family: 'Segoe UI'">{{ form.password() }}</p><br>
                    <p style="font-family: 'Segoe UI';font-size: 20px">{{ form.password2.label }}</p>
                    <p style="font-family: 'Segoe UI'">{{ form.password2() }}</p><br>
                    <p style="font-family: 'Segoe UI'">{{ form.submit() }}</p><br>
                </form>
            </div>
        </div>
    </div>
{% endblock %}