<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<font color="red">个人信息部分</font>
<h3>name:{{ user.name }}</h3>
<h3>头像：</h3>
{% if user.has_img %}
<!--浏览器会有图片缓存，如果没有rand，更改本地图片，前端网页是不会变的-->
<img src="/static/{{user.id}}.jpg?rand={{rand}}" alt="头像图片" />
{% else %}
<img src="/static/default.jpg" alt="头像图片" />
{% endif %}

<a href="{{url_for('main.friends',uid=user.uid)}}">查看动态</a>
<hr>
<font color="red">发表，修改信息部分</font>
<form method="post">
    <!--防csrf攻击，必须加-->
    {{ share_form.csrf_token() }}
    {{ share_form.label.label }}{{ share_form.label }}<br>
    {{ share_form.content.label }}{{ share_form.content }}<br>
    {{ share_form.submit }}<br>
</form>

<a href="{{url_for('main.pub_question',uid=user.uid)}}">提问题</a>
<a href="{{url_for('main.edit_profile',uid=user.uid)}}">修改资料</a>

{% for message in get_flashed_messages() %}
{{message}}<br>
{%endfor%}

<hr>
<font color="red">自己share和question部分</font>
<h2>share:</h2><br>
{% for share in user.shares%}
    <ul>{{share.label}}<a href="{{ url_for('main.delete_share',uid=user.uid,sid=share.sid)}}">删除</a></ul>
{%endfor%}

<h2>question:</h2><br>
{% for question in user.questions%}
    <ul>{{question.label}}<a href="{{ url_for('main.delete_question',uid=user.uid,qid=question.qid)}}">删除</a></ul>
{%endfor%}

<a href="{{url_for('auth.logout')}}">退出</a>

</body>
</html>