{% extends "bootstrap/base.html" %}

{% macro share_card(share) %}
    <div class="share_card">
        <div class="thumbnail" style="width: 300px;height:280px">
            <img src="{{ url_for('static', filename='favicon.ico') }}" style="width: 290px;height: 270px">
            <!--img改成的src改成分享的图片路径,href加上show_share-->
            <div class="caption">
                <p><span class="glyphicon glyphicon-star"></span>&nbsp;<!--点赞数-->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-comment"></span>&nbsp;<!--评论数--></p>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro question_card(question) %}
    <div class="panel-default">
        <div class="panel-heading"><a href="#">title</a></div><!--{{ question.title }},href改成show_question-->
        <div class="panel-body">brief content</div><!--{{ question.content|striptags|truncate(50,True) }},显示50个字。也可改变-->
    </div>
{% endmacro %}

{% macro user_card(user) %}
    <div class="user_card text-center">
        <a href="{{url_for('main.user',username=user.username)}}"><img class="img-rounded avatar-m" src="{{ url_for('static',filename='JJ.jpg') }}"
                         style="width: 100px;height: 100px"><!--href进别人的主页，src来自get_avatars-->
        </a>
        <h5><a href="{{url_for('main.user',username=user.username)}}">{{ user.username }}</a></h5>
    {#  {{ follow_area(user) }} #}
    </div>
{% endmacro %}


{% macro follow_area(user,current_user) %}
    {% if current_user.is_authenticated %}
        {% if user != current_user %}
            {% if current_user.is_following(user) %}<!--is_following函数-->
                 <a href="{{ url_for('main.unfollow', username=user.username) }}">
                    <button type="submit" class="btn btn-danger btn-sm">Unfollow</button>
                    {% if current_user.is_followed_by(user) %}
                        <p class="badge badge-light">Follow each other</p>
                    {% endif %}
                </a>
            {% else %}
                <a href="{{ url_for('main.follow', username=user.username) }}">
                    <button type="submit" class="btn btn-primary btn-sm">Follow</button>
                    {% if current_user.is_followed_by(user) %}
                        <p class="badge badge-light">Follows you</p>
                    {% endif %}
                </a>
            {% endif %}
        {% endif %}
    {% else %}
        <a href="{{ url_for('main.follow', username=user.username) }}">

            <button type="submit" class="btn btn-primary btn-sm">Follow</button>
        </a>
    {% endif %}
{% endmacro %}