<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>

<h1>sign up</h1>

<form method="post">
    <!--防csrf攻击，必须加-->
    {{ form.csrf_token() }}
    {{ form.name.label}}{{form.name}}<br>
    {{ form.password.label}}{{form.password}}<br>
    {{ form.password2.label}}{{form.password2}}<br>

    {{ form.submit }}<br>
</form>


{% for message in get_flashed_messages() %}
{{message}}<br>
{%endfor%}

<a href="{{url_for('auth.login')}}">返回</a>

</body>
</html>